<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>
        Listings:  <strong><%= @listings.count %></strong>
        <small>last pull: <strong id="last_pull">0</strong> minutes ago</small>
      </h1>

      <div class="nav">
        <div class="form-group form-inline">
          <label for="minutes_old" class="control-label">Minutes old: </label>
          <input id="minutes_old" type="text" class="form-control">
        </div>
        <%= link_to "Unseen", listings_path %>
        <%= link_to "All", listings_path(all: true) %>
        <%= link_to "Unvisited", listings_path(search: 'visited,false') %>
      </div>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Minutes ago</th>
            <th>Page</th>
            <th>Location</th>
            <th>State</th>
            <th>Text</th>
            <th></th>
            <th>Search</th>
            <th>Visited</th>
          </tr>
        </thead>

        <tbody>
          <% t = Time.now %>
          <% @listings.each do |l| %>
            <tr>
              <td><%= Integer((t - l.created_at) / 60) %></td>
              <td><%= l.search_page %></td>
              <td><%= l.location.titlecase %></td>
              <td><%= l.state %></td>
              <td><%= l.text %></td>
              <td><%= link_to 'go', l, target: '_blank', class: 'btn btn-primary' %></td>
              <td><%= l.search %></td>
              <td><%= l.visited %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  $('#minutes_old').change(function(){
    window.location = "/listings?minutes_old=" + $(this).val();
  });

  window.setInterval(function(){
    var min = $('#last_pull');
    var count = parseInt(min.text);
    console.log(count);
    min.text(count + 1);
  }, 1000);
</script>
